#website_header {
    position: fixed;
    top: 0;
    left: 0;
    height: 0.5in;
    width: 100%;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.75);
    z-index: 2147483647;
    background-color: rgba(0, 0, 0, 0.9);
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -moz-animation-duration: 0.5s;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

#website_header p:nth-child(1) {
    -webkit-animation-duration: 0.6s;
    -moz-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

#website_header p:nth-child(2) {
    -webkit-animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
    animation-duration: 0.7s;
}

#website_header p:nth-child(3) {
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
}

#website_header p:nth-child(4) {
    -webkit-animation-duration: 0.9s;
    -moz-animation-duration: 0.9s;
    animation-duration: 0.9s;
}

#website_header p:nth-child(1n+2) {
    font-weight: lighter;
}

#website_header p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#website_header p {
    margin: 0 0.125in;
    padding: 0.125in 0 0;
    text-align: center;
    height: 0.375in;
    float: left;
    color: white;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-in;
    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-150px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-150px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes dropHeader {
    0% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(0);
    }
}

@media (max-width: 7in) {
    #website_header p:first-child {
        margin-left: 0.25in;
    }
    #website_header p {
        font-size: 14px;
    }
}

@media (max-width: 10in;
min-width: 7in;
) {
    #website_header p {
        width: 25%;
        margin: 0;
    }
}

@media (min-width: 10in) {
    #website_header p:first-child {
        margin-left: 15%;
    }
    #website_header p {
        width: 17.5%;
    }
}
